<?xml version="1.0" encoding="UTF-8"?>
<ApplicationsExport>
  <Applications>
    <AutheEnabled>96</AutheEnabled>
    <AutoCompile>true</AutoCompile>
    <CookiePath>/csp/sheltershare/</CookiePath>
    <CSPZENEnabled>true</CSPZENEnabled>
    <CSRFToken>false</CSRFToken>
    <DeepSeeEnabled>false</DeepSeeEnabled>
    <DispatchClass>%SYS.Python.WSGI</DispatchClass>
    <WSGIAppName>shshproj</WSGIAppName>
    <WSGICallable>asgi.application</WSGICallable>
    <WSGIAppLocation>/usr/irissys/csp/sheltershare/</WSGIAppLocation>
    <Enabled>true</Enabled>
    <HyperEvent>0</HyperEvent>
    <iKnowEnabled>false</iKnowEnabled>
    <InbndWebServicesEnabled>true</InbndWebServicesEnabled>
    <IsNameSpaceDefault>false</IsNameSpaceDefault>
    <JWTAuthEnabled>false</JWTAuthEnabled>
    <JWTAccessTokenTimeout>60</JWTAccessTokenTimeout>
    <JWTRefreshTokenTimeout>900</JWTRefreshTokenTimeout>
    <LockCSPName>true</LockCSPName>
    <Name>/csp/sheltershare</Name>
    <NameSpace>%SYS</NameSpace>
    <Path>/usr/irissys/csp/sheltershare/</Path>
    <Recurse>true</Recurse>
    <RedirectEmptyPath>false</RedirectEmptyPath>
    <ServeFiles>1</ServeFiles>
    <ServeFilesTimeout>3600</ServeFilesTimeout>
    <Timeout>900</Timeout>
    <TwoFactorEnabled>false</TwoFactorEnabled>
    <Type>2</Type>
    <UseCookies>2</UseCookies>
    <SessionScope>2</SessionScope>
    <UserCookieScope>2</UserCookieScope>
    <Version>2</Version>
  </Applications>
</ApplicationsExport>
