<div id="qaModal" class="modal" style="display:none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="qandalabel">Questions & Answers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick='toggleModal("qaModal");'>
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="victim_info"></div>
            </div>
            <div class="modal-body">
                <div id="question-list"></div>

                {% if shelter_provider %}
                <form id="ask-question-form">
                    <div class="form-group row">
                        <label for="new_question" class="col-sm-3 col-form-label">New question:</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="new_question" name="question" placeholder="Enter your question here" required></textarea>
                        </div>
                    </div>

                </form>
                {% endif %}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick='toggleModal("qaModal");'>Close</button>
                {% if shelter_provider %}
                <button type="button" class="btn btn-primary"  id="submitQuestionButton" onclick="submitQuestion();">Send Question</button>
                {% else %}

                <button type="button" class="btn btn-primary" id="submitAnswersButton" onclick="submitAnswers();">Send Answers</button>
                {% endif %}

            </div>
        </div>

    </div>
</div>