<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Victim</title>
</head>
<body>
    <h1>Register Victim</h1>
    <form method="post" action="{% url 'register_victim' %}">
        {% csrf_token %}
         <label for="identifier">identifier:</label>
        <input type="text" id="identifier" name="victim.identifier" >
        <br><br>
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="victim.first_name" >
        <br><br>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="victim.last_name" >
        <br><br>
        <label for="date_of_birth">Date of Birth:</label>
        <input type="date" id="date_of_birth" name="victim.date_of_birth">
        <br><br>
        <label for="gender">Gender:</label>
        <select id="gender" name="victim.gender">
            {% for gender in genders %}
                <option value="{{ gender.id }}">{{ gender.description }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="residence_region">Residence Region:</label>
        <input type="text" id="residence_region" name="victim.residence_region">
        <br><br>
        <label for="residence_postcode">Residence Postcode:</label>
        <input type="text" id="residence_postcode" name="victim.residence_postcode">
        <br><br>
        <label for="residence_street">Residence Street:</label>
        <input type="text" id="residence_street" name="victim.residence_street">
        <br><br>
        <label for="residence_number">Residence Number:</label>
        <input type="text" id="residence_number" name="victim.residence_number">
        <br><br>
        <label for="residence_city">Residence City:</label>
        <input type="text" id="residence_city" name="victim.residence_city">
        <br><br>
        <label for="residence_country">Residence Country:</label>
        <input type="text" id="residence_country" name="victim.residence_country" value="UK">
        <br><br>
        <label for="contact_phone">Contact Phone:</label>
        <input type="text" id="contact_phone" name="victim.contact_phone">
        <br><br>
        <label for="contact_email">Contact Email:</label>
        <input type="text" id="contact_email" name="victim.contact_email">
        <br><br>
        <label for="verified_by">Verified By:</label>
        <input type="text" id="verified_by" name="victim.verified_by">
        <br><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>