<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Victim</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

     <!-- Select2 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

    <style>{% include "shshapp/main.css" %}</style>
    <style>.btn-custom-spacing {
        margin-top: 20px; /* Adjust as needed */
    }
    </style>
</head>
<body>
    <div class="header">
        <img src="{% static 'shshapp/logo.png' %}">
        <strong>Register Victim</strong>
        <strong>{{ user.username }} - {{ user.first_name }} {{ user.last_name }}</strong>
    </div>
    <div class="container">

        <form method="post" action="{% url 'register_victim' %}" class="mt-4">
            {% csrf_token %}
             <div class="col-md-6">
                <label for="identifier">Identifier:</label>
                <input type="text" class="form-control" id="identifier" name="victim.identifier" title="SSN, Driver's licence, Passport number...">
            </div>
             <div class="col-md-6">
                <label for="first_name">First Name:</label>
                <input type="text" class="form-control" id="first_name" name="victim.first_name">
            </div>
             <div class="col-md-6">
                <label for="last_name">Last Name:</label>
                <input type="text" class="form-control" id="last_name" name="victim.last_name">
            </div>
             <div class="col-md-6">
                <label for="date_of_birth">Date of Birth:</label>
                <input type="date" class="form-control" id="date_of_birth" name="victim.date_of_birth" required>
            </div>
             <div class="col-md-6">
                <label for="gender">Gender:</label>
                <select class="form-control" id="gender" name="victim.gender">
                    {% for gender in genders %}
                        <option value="{{ gender.id }}">{{ gender.description }}</option>
                    {% endfor %}
                </select>
            </div>
             <div class="col-md-6">
                <label for="residence_region">Residence Region:</label>
                <input type="text" class="form-control" id="residence_region" name="victim.residence_region">
            </div>
             <div class="col-md-6">
                <label for="residence_postcode">Residence Postcode:</label>
                <input type="text" class="form-control" id="residence_postcode" name="victim.residence_postcode">
            </div>
             <div class="col-md-6">
                <label for="residence_street">Residence Street:</label>
                <input type="text" class="form-control" id="residence_street" name="victim.residence_street">
            </div>
            <div class="col-md-6">
                <label for="residence_number">Residence Number:</label>
                <input type="text" class="form-control" id="residence_number" name="victim.residence_number">
            </div>
             <div class="col-md-6">
                <label for="residence_city">Residence City:</label>
                <input type="text" class="form-control" id="residence_city" name="victim.residence_city">
            </div>
             <div class="col-md-6">
                <label for="residence_country">Residence Country:</label>
                <input type="text" class="form-control" id="residence_country" name="victim.residence_country" value="USA">
            </div>
             <div class="col-md-6">
                <label for="contact_phone">Contact Phone:</label>
                <input type="tel" class="form-control" id="contact_phone" name="victim.contact_phone">
            </div>
             <div class="col-md-6">
                <label for="contact_email">Contact Email:</label>
                <input type="email" class="form-control" id="contact_email" name="victim.contact_email">
            </div>
             <div class="col-md-6">
                <label for="verified_by">Verified By:</label>
                <input type="text" class="form-control" id="verified_by" name="victim.verified_by">
            </div>
            <div class="col-md-6">
                <label for="shelter_type">Shelter type:</label>
                <select class="form-control" id="shelter_type" name="victim.shelter_type" multiple="multiple">
                    {% for shelter in shelter_request_types %}
                        <option value="{{ shelter.id }}">{{ shelter.description }}</option>
                    {% endfor %}
                </select>
            </div>
             <div>
                 <div class="mt-4">
                    <button type="submit" class="btn btn-primary btn-custom-spacing">Register</button>
                 </div>
            </div>
        </form>
    </div>
   <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Select2 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#shelter_type').select2({
                placeholder: "Select or add shelter type",
                allowClear: true,
                tags: true, // Enable adding new options
                createTag: function(params) {
                    var term = $.trim(params.term);
                    if (term === '') {
                        return null;
                    }
                    return {
                        id: term,
                        text: term,
                        newTag: true // Mark as a new tag
                    };
                }
            });
        });
    </script>
</body>
</html>
